/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    over-flow-x:hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-weight: 600;
}

/* Header */
header {
    background: #333;
    color: white;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    font-family:'Brush Script MT', cursive;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    padding: 10px;
}

/* Hero Section */
#hero {
    height: 100vh;
    background: url("port_2.png") no-repeat top center/cover;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero h2 {
    font-size: 2.5rem;
}

#hero p {
    font-size: 1.2rem;
    margin: 20px 0;
}

#hero .btn {
    background: #ff6363;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

#hero .btn:hover {
    background: #e55a5a;
}

/* About Section */
#about {
    padding: 80px 20px;
    background: #fff;
    text-align: center;
}

/* Projects Section */
#projects {
    padding: 80px 20px;
    background: #f9f9f9;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
@media (max-weight: 768px){
    .project-grid{
    grid-template-columns : 1fr;
    }
}
.project-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: justify;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Contact Section */
#contact {
    padding: 80px 20px;
    background: #333;
    color: white;
    text-align: center;
}

#contact a {
    color: #ff6363;
}

.social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
}
.contact-logo{
    width:auto;
    height:auto;
    margin-right:10px;
}
/* Footer */
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.project-card a:link {
  color: red;
}

/* visited link */
.project-card a:visited {
  color: green;
}

/* mouse over link */
.project-card a:hover {
  color: hotpink;
}

/* selected link */
.project-card a:active {
  color: blue;
}
